@if(isKorokSearchActive){
    <div class='korok-presentation {{isKorokSearchActive ? "active" : "" }}'>
        <p>
            @for (letter of korokSearchSring; track $index) {
                @if(letter == " "){
                    <span style="margin: 20px;">{{letter}}</span>
                }   
                @else{
                    <span style="--i: {{$index}}">{{letter}}</span>
                }
            }
        </p>
    </div>
}
<div class='korok-score {{isKorokSearchActive ? "active" : ""}}'>
        <p>Koroks restantes<br>{{korokLeft}}</p>
    </div>
<div id="start" class="main-container" #start>
    <div id="navigation-menu" class="mobile-only {{isMobileMenuOpen ? 'open' : ''}}" #menuMain>
        <div class="button">
            <button (click)="MobileMenuToggle()">
                <fa-icon [icon]="faBars"></fa-icon>
            </button>
        </div>
        <div class="content" #menuContent>
            <div>
                <div class="option navigation">
                    <button class="title"  (click)="MobileMenuContentToggle(GoToContent, options.GoTo)">
                        <fa-icon [icon] = "faArrowTurnDown"></fa-icon>
                        <p i18n>Ir a</p>
                        <div class="arrow">
                            <fa-icon [icon] = "faCaretDown" class="arrow"></fa-icon>
                        </div>
                    </button>
                    <ul class="acc-content" #GoToContent> 
                        <li><button (click)="scrollToElement(start)" i18n>Inicio</button></li>
                        <li><button (click)="scrollToElement(skills)" i18n>Habilidades</button></li>
                        <li><button (click)="scrollToElement(languages)" i18n>Idiomas</button></li>
                        <li><button (click)="scrollToElement(education)" i18n>Educación</button></li>
                        <li><button (click)="scrollToElement(experience)" i18n>Experiencia</button></li>
                        <li><button (click)="scrollToElement(interests)" i18n>Intereses personales</button></li>
                    </ul>
                </div>
                <div class="option">
                    <button class="title" (click)="MobileMenuContentToggle(LangContent, options.Language)">
                        <fa-icon [icon] = "faLanguage"></fa-icon>
                        <p i18n>Idioma</p>
                        <div class="arrow">
                            <fa-icon [icon] = "faCaretDown" class="arrow"></fa-icon>
                        </div>
                    </button>
                    <ul class="acc-content" #LangContent> 
                        <li><button (click)="changeLanguage(lang.ES)" class="{{isButtonActive(lang.ES)}}" i18n>Español</button></li>
                        <li><button (click)="changeLanguage(lang.EN)" class="{{isButtonActive(lang.EN)}}" i18n>Inglés</button></li>
                    </ul>
                </div>
                <div class="option">
                    <button class="title" (click)="MobileMenuContentToggle(DownloadContent, options.Download)">
                        <fa-icon [icon] = "faDownload"></fa-icon>
                        <p i18n>Descargar CV</p>
                        <div class="arrow">
                            <fa-icon [icon] = "faCaretDown" class="arrow"></fa-icon>
                        </div>
                    </button>
                    <ul class="acc-content" #DownloadContent> 
                        <li><a href="CV-AdriánGarza-Español.pdf" download i18n>En español</a></li>
                        <li><a href="CV-AdrianGarza-English.pdf" download i18n>En inglés</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <section id="nav" class="korok-spawn">
        <div class="block-mouse-event" style="width: 100% !important;">
            <ul>
                <li class="info">
                    <div class = "title" i18n>Desarrollador Full-stack</div>
                    <ul class="desktop-only">
                        <li><a href="mailto:adriangg01@hotmail.com">adriangg01&#64;hotmail.com</a></li>
                        <li><a href="https://www.linkedin.com/in/adrian-alejandro-garza-garza-00697522a/" target="_blank" i18n>Linkedin</a></li>
                        <li i18n>Nuevo León, México</li>
                        <li>+52 81 8684 0302</li>
                        <li><div class='job-status {{isSearchigForJob ? "searching" : "not-searching"}}'></div></li>
                    </ul>
                </li> 
                <li class="buttons desktop-only">
                    <div><button (click)="changeLanguage(lang.ES)" class="{{isButtonActive(lang.ES)}}">ES</button></div>
                    <div><button (click)="changeLanguage(lang.EN)" class="{{isButtonActive(lang.EN)}}">EN</button></div> 
                    <label for="menu-cv-desktop">
                        <p i18n>Descargar CV</p>
                    </label>
                    <input type="checkbox" id="menu-cv-desktop" />
                    <div class="download-options-container">
                        <div class="download-options">
                            <ul>
                                <li><a href="CV-AdriánGarza-Español.pdf" download i18n>En español</a></li>
                                <li><a href="CV-AdrianGarza-English.pdf" download i18n>En inglés</a></li>
                            </ul>
                        </div>
                    </div>
                    <div><button (click)="KorokSerchToggle()" class='korokSearch {{isKorokSearchActive ? "active" : "" }}'><img src="Korok_Seed.png" alt="Semilla Korok" i18n-alt></button></div>  
                </li>
            </ul>
            <div class="bottom-line"></div>
        </div>   
        @if(isKorokSearchActive){
            <input type="checkbox" class="korok-controller" id="korok-5" [formControl]="korokControllerList.controls[0]">
            <label for="korok-5" class="korok-container" style='--i: 1'>
                <img src="Korok7.png" alt="Korok" id="korok5" >
            </label>
        }
    </section> 

    <div class="info-container">
        <section id="main" #main>    
            <h1 i18n>Adrián Alejandro<br>Garza Garza</h1>  
            <p class="korok-spawn"> 
                <label i18n class="block-mouse-event">Soy un programador Full-Stack apasionado con las soluciones web eficientes. Disfruto de resolver problemas técnicos complejos y optimizar la solución al máximo.</label>
                @if(isKorokSearchActive){
                    <input type="checkbox" class="korok-controller" id="korok-1" [formControl]="korokControllerList.controls[1]">
                    <label for="korok-1" class="korok-container" style="--i: 2">
                        <img src="Korok1.png" alt="Korok" id="korok1">
                    </label>
                }
                @if(isKorokSearchActive){
                    <input type="checkbox" class="korok-controller" id="korok-4" [formControl]="korokControllerList.controls[2]">
                    <label for="korok-4" class="korok-container" style="--i: 3">
                        <img src="Korok5.png" alt="Korok" id="korok4">
                    </label>
                }
            </p>
            <small i18n>* Por su preferencia a la reducción de movimiento, se han deshabilitado las animaciones.</small>
        </section> 

        <section id="skills" #skills> 
            <div class="left"><h2 onVisibleAnimation animationClass="anim-LtoR" i18n>Habilidades</h2></div>   
            <div class="right"> 
                @for (item of Skills; track $index) {
                    <div class='block {{$index == 2 || $index == 4 ? "korok-spawn":""}}' onVisibleAnimation animationClass="anim-RtoL">
                        <div>
                            <h3 class='{{$index == 2 || $index == 4 ? "block-mouse-event fit":""}}'>{{item.name}}</h3>
                            <div class='content {{$index == 2 || $index == 4 ? "block-mouse-event fit":""}}'>
                                @for(tool of item.tools; track $index){
                                    <div class="skill block-mouse-event">
                                        <label>{{tool}}</label> 
                                    </div> 
                                }
                            </div>
                        </div>
                        @if(isKorokSearchActive){
                            @if($index == 2){
                                <input type="checkbox" class="korok-controller" id="korok-2" [formControl]="korokControllerList.controls[3]">
                                <label for="korok-2" class="korok-container" style="--i: 4">
                                    <img src="Korok8.png" alt="Korok" id="korok2">
                                </label>
                            }
                            @else if ($index == 4){
                                <input type="checkbox" class="korok-controller" id="korok-3" [formControl]="korokControllerList.controls[4]">
                                <label for="korok-3" class="korok-container" style="--i: 5">
                                    <img src="Korok2.png" alt="Korok" id="korok3">
                                </label>
                            }
                        }
                    </div>
                }
            </div>
        </section>

        <section id="languages" #languages>
            <div class="left korok-spawn">
                <div onVisibleAnimation animationClass="anim-LtoR" >
                    <h2 i18n class="block-mouse-event">Idiomas</h2>
                    @if(isKorokSearchActive){
                        <input type="checkbox" class="korok-controller" id="korok-6" [formControl]="korokControllerList.controls[5]">
                        <label for="korok-6" class="korok-container" style="--i: 6">
                            <img src="Korok3.png" alt="Korok" id="korok6">
                        </label>
                    }
                </div>
            </div> 
            <div class="right ">
                @for (item of Languages; track $index) {
                    <div class="korok-spawn block" onVisibleAnimation animationClass="anim-RtoL">
                        <div class="content block-mouse-event">
                            <p class="name block-mouse-event">{{item.name}}</p>
                            <p class="level block-mouse-event">{{item.level}}</p>
                        </div>
                        @if(isKorokSearchActive){
                            @if($index == 0){
                                <input type="checkbox" class="korok-controller" id="korok-7" [formControl]="korokControllerList.controls[6]">
                                <label for="korok-7" class="korok-container" style="--i: 7">
                                    <img src="Korok9.png" alt="Korok" id="korok7">
                                </label>
                            }
                            @else if($index == 1){
                                <input type="checkbox" class="korok-controller" id="korok-8" [formControl]="korokControllerList.controls[7]">
                                <label for="korok-8" class="korok-container" style="--i: 8">
                                    <img src="Korok1.png" alt="Korok" id="korok8">
                                </label>
                            }
                        }
                    </div>
                }
            </div>
        </section>

        <section id="education" #education>  
            <div class="left"><h2 onVisibleAnimation animationClass="anim-LtoR" i18n>Educación</h2></div> 
            <div class="right"> 
                @for(item of Education; track $index){
                    <div class="block korok-spawn" onVisibleAnimation animationClass="anim-RtoL">
                        <div class="header block-mouse-event fit">
                            <div class="logo">
                                <img src="{{item.uniLogo}}" alt="Logo de {{item.university}}" i18n-alt>
                            </div> 
                            <div class="info">
                                <p class="university">{{item.university}}</p>
                                <p class="career"> <i>{{item.career}}</i></p>
                                <p class="career">({{item.date}})</p>
                                <div class="line mobile-only"></div>
                            </div>
                        </div>
                        <div class="content block-mouse-event">
                            <p>{{item.description}}</p>
                        </div>
                        @if(isKorokSearchActive){
                            @if($index == 0){
                                <input type="checkbox" class="korok-controller" id="korok-9" [formControl]="korokControllerList.controls[8]">
                                <label for="korok-9" class="korok-container" style="--i: 9">
                                    <img src="Korok7.png" alt="Korok" id="korok9">
                                </label>
                            }
                            @else if($index == 1){
                                <input type="checkbox" class="korok-controller" id="korok-10" [formControl]="korokControllerList.controls[9]">
                                <label for="korok-10" class="korok-container" style="--i: 10">
                                    <img src="Korok3.png" alt="Korok" id="korok10">
                                </label>
                            }
                        }
                    </div>
                } 
            </div>
        </section> 

        <section id="experience" #experience>
            <div class="left"><h2 onVisibleAnimation animationClass="anim-LtoR" i18n>Experiencia</h2></div> 
            <div class="right" onVisibleAnimation animationClass="anim-RtoL">
                @for (item of Experience; track $index) { 
                    <div class="block" >
                        @if(Experience.length >  1){
                            <div class="time-line-wrapper">
                                <div class="time-line "></div> 
                                <div class="time"> 
                                    <fa-icon [icon]="faCircle"></fa-icon>
                                    <label>{{item.time}}</label> 
                                </div>
                            </div>
                        }
                        <div class='content korok-spawn {{Experience.length >  1 ? "" : "only-one"}}'>
                            <div class="title">
                                <h3 class="block-mouse-event fit">{{item.title}}</h3>
                                <h3 class='{{Experience.length >  1 ? "mobile-only" : ""}} block-mouse-event fit'>{{item.time}}</h3>
                                <div class="line"></div>
                                <h4 class="block-mouse-event fit">{{item.company}}</h4>
                            </div>
                            <div class="description block-mouse-event"> 
                                <p>{{item.description}}</p>
                            </div> 
                            @if(isKorokSearchActive){
                                @if($index == 0){
                                    <input type="checkbox" class="korok-controller" id="korok-11" [formControl]="korokControllerList.controls[10]">
                                    <label for="korok-11" class="korok-container" style="--i: 11">
                                        <img src="Korok5.png" alt="Korok" id="korok11">
                                    </label>
                                }
                                @else if($index == 1){
                                    <input type="checkbox" class="korok-controller" id="korok-12" [formControl]="korokControllerList.controls[11]">
                                    <label for="korok-12" class="korok-container" style="--i: 12">
                                        <img src="Korok2.png" alt="Korok" id="korok12">
                                    </label>
                                }
                            }
                        </div>
                    </div> 
                }
            </div>
        </section>

        <section id="interests" #interests>
            <div class="left korok-spawn" onVisibleAnimation animationClass="anim-LtoR">
                <h2 i18n class="block-mouse-event">Intereses personales</h2>
                @if(isKorokSearchActive){
                    <input type="checkbox" class="korok-controller" id="korok-13" [formControl]="korokControllerList.controls[12]">
                    <label for="korok-13" class="korok-container" style="--i: 13">
                        <img src="Korok4.png" alt="Korok" id="korok13">
                    </label>
                }
            </div> 
            <div class="right" onVisibleAnimation animationClass="anim-RtoL-desktop">
                <div class="content">
                    @for (interest of Interests; track $index) {
                        <div class="block korok-spawn" onVisibleAnimation animationClass="anim-RtoL-mobile">
                            <div class="title block-mouse-event">
                                {{interest.name}}
                            </div>
                            <div class="line mobile-only "></div>
                            <div class="info block-mouse-event"> 
                                <p>{{interest.description}}</p>
                            </div>
                            @if(isKorokSearchActive){
                                @if($index == 0){
                                    <input type="checkbox" class="korok-controller" id="korok-14" [formControl]="korokControllerList.controls[13]">
                                    <label for="korok-14" class="korok-container" style="--i: 14">
                                        <img src="Korok6.png" alt="Korok" id="korok14">
                                    </label>
                                }
                                @else if($index == 2){
                                    <input type="checkbox" class="korok-controller" id="korok-15" [formControl]="korokControllerList.controls[14]">
                                    <label for="korok-15" class="korok-container" style="--i: 15">
                                        <img src="Korok9.png" alt="Korok" id="korok15">
                                    </label>
                                }
                            }
                            
                        </div>
                    }
                </div>
            </div>
        </section> 
    </div>
    
    <div class="korok-spawn">
        <footer class="block-mouse-event ">
            <ul>
                <li i18n>Adrián Garza</li>
                <li class="dot desktop-only"><fa-icon [icon]="faCircle"></fa-icon></li>
                <li><label class="mobile-only-in" i18n>Teléfono:</label> +52 81 8684 0302</li>
                <li class="dot desktop-only"><fa-icon [icon]="faCircle"></fa-icon></li>
                <li><label class="mobile-only-in" i18n>E-mail: </label><a href="mailto:adriangg01@hotmail.com"> adriangg01&#64;hotmail.com</a></li>
            </ul>
            <p i18n>Actualizado en Mayo 2026</p>
        </footer>
        @if(isKorokSearchActive){
                <input type="checkbox" class="korok-controller" id="korok-16" [formControl]="korokControllerList.controls[15]">
                <label for="korok-16" class="korok-container" style="--i: 16">
                    <img src="Korok7.png" alt="Korok" id="korok16">
                </label>
            }
    </div>
</div>
